<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span>Hello, {{selfProfile?.name}}</span>
    <button mat-icon-button (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <div class="sidebar">

  </div>

  <div class="main">
    <mat-card class="userCard" *ngFor="let user of users">
      <p>Login: {{user?.login}}</p>
      <hr>
      <p>Name: {{user?.name}}</p>
      <hr>
      <p>Email: {{user?.email}}</p>
    </mat-card>
  </div>

  <div class="sidebar">
    <mat-card class="searchCard">
      <form (submit)="onSearch()" [formGroup]="searchForm" >
        <mat-form-field>
          <input matInput placeholder="Login" formControlName="login">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button>
          <mat-icon>search</mat-icon>
          Search
        </button>
      </form>
    </mat-card>
  </div>
</div>
